{% extends "base.html" %}

{% block title %}Listar{% endblock %}

{% block content %}
<h1>Listar</h1>

<h2>Viajantes</h2>
<ul>
    {% for v in viajantes %}
        <li><a href="{{ url_for("viajante", id=v.id) }}">{{ v.nome }} - {{ v.email }}</a></li>
    {% endfor %}
</ul>

<hr>

<h2>Viagens</h2>
<ul>
    {% for viagem in viagens %}
    <li><a href="{{ url_for("viagem", id=viagem.id) }}">{{ viagem.destino_temporal }} - {{ viagem.data_partida }}</a></li>
    {% endfor %}
</ul>

<hr>

<h2>Pedidos de Viagem</h2>
<ul>
    {% for pedido in pedidos %}
        <li><a href="{{ url_for("pedido", id=pedido.id) }}">{{ pedido.destino_temporal }} ({{ pedido.viajante.nome }})</a></li>
    {% endfor %}
</ul>
{% endblock %}