{% extends "base.html" %}

{% block title %}Consultar{% endblock %}

{%block content %}
    <h1>Consultar</h1>

    <h2>Reservas</h2>
    <ul>
        {% for reserva in reservas %}
        <li>
            {% for v in viajantes %}
            {% if v.id == reserva.id_viajante %}
            {{ v.nome }}
            {% endif %}
            {% endfor %}
            -
            {% for vi in viagens %}
            {% if vi.id == reserva.id_viagem %}
            {{ vi.destino_temporal }}
            {% endif %}
            {% endfor %}
            -
            {{ reserva.data_marcacao }}
        </li>
        {% endfor %}
    </ul>

{% endblock %}