{% extends "base.html" %}

{% block title %}Gerir{% endblock %}

{%block content %}
    <h1>Gerir Viajantes</h1>

<ul>
{% for v in viajantes %}
    <li>
        {{ v.nome }} - {{ v.email }} - {{ v.data_nasc }}

        <form method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ v.id }}">
            <input type="hidden" name="acao" value="apagar">
            <button type="submit" style="background-color: #C70000; color:white">Apagar</button>
        </form>


        <form method="post">
            <input type="hidden" name="id" value="{{ v.id }}">
            <input type="hidden" name="acao" value="editar">

            <input type="text" name="nome" placeholder="Nome" value="{{ v.nome }}" required>
            <input type="email" name="email" placeholder="Email" value="{{ v.email }}" required>
            <input type="date" name="data_nasc" value="{{ v.data_nasc2 }}" required>

            <button type="submit">Atualizar</button>
        </form>
    </li>
{% endfor %}
</ul>
{% endblock %}