{% extends "base.html" %}

{% block title %}Listar{% endblock %}

{% block content %}
<h1>Listar</h1>

<h2>Viajantes</h2>
<ul>
    {% for v in viajantes %}
        <li>{{ v.nome }} — {{ v.email }}</li>
    {% endfor %}
</ul>

<h2>Viagens</h2>
<ul>
    {% for viagem in viagens %}
    <li>{{ viagem.destino_temporal }} - {{ viagem.data_partida }}</li>
    {% endfor %}
</ul>
<hr>

<h2>Restrições</h2>
<ul>
    {% for restricao in restricoes %}
    <li>
        <strong>Viagem: {{ restricao.id_viagem }}</strong> | 
        Idade mínima: {{ restricao.idade_minima }} | 
        Idade máxima: {{ restricao.idade_maxima }}
    </li>
    {% endfor %}
</ul>

{% endblock %}